<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="matches"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">My Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <div class="immg" (click)="takePicture()">  
      <img *ngIf="imageServer" [src]="profile_image">
      <img *ngIf="imageShow" src='../../../assets/images/userimage.png'>
      <ion-icon name="camera-outline"></ion-icon>
        <p>{{first_name}} {{last_name}}</p>
    </div>
    <div class="item-slider">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let img of moreImage1" style="width: 75px;height: 75px;">
          <ion-col class="slideCol" size="3">
            <img [src]='img.image'>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </div>
    <div>
      <ion-row>
        <ion-col size="10">
          <ion-label>
            <p class="table_heading">Basic Info</p>
          </ion-label>
        </ion-col>
        <ion-col size="2" (click)="editBasic()">  
          <ion-icon name="create-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-list *ngFor="let data of basic">
        <ion-item lines="none">
          <ion-label>
            <p>Name</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{first_name}} {{last_name}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Email ID</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{email_id}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Contact</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{mobile}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>DOB</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{dob}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Height</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{height}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Place of Birth</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{place_of_birth}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Contact Address</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{contact_address}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Native Address</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{native_address}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div>
      <ion-row>
        <ion-col size="10">
          <ion-label class="table_heading">Career & Education</ion-label>
        </ion-col>
        <ion-col size="2" (click)="educationUpdate()">
          <ion-icon name="create-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-list *ngFor="let ed of user.qualification_check">

        <ion-item lines="none">
          <ion-label>
            <p>Profession</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{ed.profesion_name}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Annual Income</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{ed.annual_income}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Employer Name</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{ed.employer_name}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Total Experience</p>
          </ion-label>
          <ion-label>
             <p class="ion-text-wrap details">:&nbsp;&nbsp; {{ed.total_exp}} years</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p class="ion-text-wrap details">Current working status</p>
          </ion-label>
          <ion-label>
             <p class="ion-text-wrap details" *ngIf="ed.current_working_status==1">:&nbsp;&nbsp;Yes</p>
             <p class="ion-text-wrap details" *ngIf="ed.current_working_status==0">:&nbsp;&nbsp;No</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngFor="let e of qualification">
        <ion-item lines="none">
          <ion-label>
            <p>Highest Qualification</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp;{{e.degree_name}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>College Name</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp;{{e.collage_name}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div>
      <ion-row>
        <ion-col size="10">
          <ion-label class="table_heading">Contact Details</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="create-outline" (click)="updateContact()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-list *ngFor="let data of user.contact_details">
        <ion-item lines="none">
          <ion-label>
            <p>Person Name</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{data.person_name}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Contact Number</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{data.mobile}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p class="ion-text-wrap details">Relationship with member</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{data.relationship_with_member}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Convenient Tme</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{data.convenient_time}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <ion-row>
        <ion-col size="10">
          <ion-label class="table_heading">Religious background</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="create-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-list *ngFor="let data of basic">
        <ion-item lines="none">
          <ion-label>
            <p>Religion</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{religion}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Mother Tongue</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">:&nbsp;&nbsp; {{mother_tongue}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Community</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">Chaurasiya</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p class="ion-text-wrap details">Sub Community</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">Not Specified</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Caste of Bar</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">
             Yes
            </p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Gotra / Gothram</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-wrap details">
             Not Specified
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <ion-list>
        <ion-item detail class="pref" (click)="prefClick()">
          <ion-label>Preferences</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <ion-row>
        <ion-col size="10">
          <ion-label class="table_heading">About MySelf,Partner and Family</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="create-outline"></ion-icon>
        </ion-col>
      </ion-row>
   <ion-list>
     <ion-item>
       <p class="ion-text-wrap details">India, officially the Republic of India, is a country in South Asia. It is the second-most populous country, the seventh-largest country by land area, and the most populous democracy in the world.</p>
     </ion-item>
   </ion-list>
    </div>

    <div>
      <ion-list>
        <ion-item class="pref" (click)="logout()">
          <ion-label>Logout</ion-label>
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>

  
</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button class="myprofile">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>My Account</ion-label>
        </ion-tab-button>
        <ion-tab-button class="matches" tab='matches'>
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Matches</ion-label>
        </ion-tab-button>
        <ion-tab-button tab='publicProfile'>
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>public profile</ion-label>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <ion-label>Chat</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>