<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="myProfile"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Preferences</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="startDiv">
    <div>
      <ion-row>
        <ion-col size="10" (click)="partnerBasic()">
          <p>Partner Basic Info</p>
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="editIcon" name="create-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-item>
          <ion-label>Age</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:25</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Min Height</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:25</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Max Height</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:25</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mother Tongue</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:25</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Married Status</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:25</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Religion</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:25</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Diet</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:25</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>

    <div>
      <ion-row>
        <ion-col size="10" (click)="partnerLocation()">
          <p>Partner Location Details</p>
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="editIcon" name="create-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-item>
          <ion-label>Country</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:25</p>
          </ion-label>
        </ion-item>
        <ion-item text-wrap>
          <ion-label><h4>State</h4></ion-label>
          <ion-label>
            <p class="ion-text-wrap">:uttar pradesh,madhya pradesh,Delhi,punjab,Bihar,Himachal Pradesh</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>City</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:25</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>

    <div>
      <ion-row>
        <ion-col size="10" (click)="partnerEducation()">
          <p>Partner Education & Career</p>
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="editIcon" name="create-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-item>
          <ion-label>Education</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:Higher secondary,senior secondary and Graduation (B.tech) CSE</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Profession</ion-label>
          <ion-label>
            <p class="ion-text-wrap">:25</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">Annual Income</ion-label>
          <ion-label>
            <p>:25</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">Working Status</ion-label>
          <ion-label>
            <p>:25</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
    <ion-button expand="block" *ngIf="postData">Submit</ion-button>
  </div>
</ion-content>