ion-row{
    padding: 2px 4%;
    ion-col{
        ion-icon{
            font-size: 23px;
            margin-top: 17%;
        }
    }
}
ion-card{
    border-radius: 21px;
    margin-top: -6px;
}
ion-button{
    margin: 0 25%;
    --border-radius: 21px;
   }
   .startDiv{
       margin-bottom: 20px;
   }