
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center;">Search</ion-title>
      <ion-buttons slot="end">
        <ion-button>Reset</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-card>
    <div class="cardSearch">
      <ion-searchbar showCancelButton="focus" mode="ios" placeholder="Search By Name"></ion-searchbar>
      <p>Refine Search</p>
      <ion-list>
        <ion-item lines="full">
          <ion-label slot="start">Age</ion-label>
          <ion-label >21yrs-7yrs</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full" >
          <ion-label slot="start">Height</ion-label>
          <ion-label >5ft.1"-5ft.5"</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full">
          <ion-label slot="start">Marital Status</ion-label>
          <ion-label >Never marrige</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full" >
          <ion-label slot="start">Religion</ion-label>
          <ion-label >Hindu</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full" >
          <ion-label slot="start">Mother tongue</ion-label>
          <ion-label >Hindi</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full" >
          <ion-label slot="start">Cast</ion-label>
          <ion-label >Any</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full" >
          <ion-label slot="start">Star</ion-label>
          <ion-label >Any</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full" >
          <ion-label slot="start">Country</ion-label>
          <ion-label>Any</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full" >
          <ion-label slot="start">State</ion-label>
          <ion-label>Any</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <div class="btnsbmt">
    <ion-button expand="round">Refine Search</ion-button>
  </div>
  </ion-card>
</ion-content>
