ion-content {
  --background: url(../../assets/images/backgroundhome.jpg) 0 0/100% 100% no-repeat !important;
}
.logoImage{
  text-align: center;
  img{
    width: 165px;
    margin-top: 40px;
  }
}
.btnBoth{
    text-align: center;
    margin-top: 150px;
    ion-button{
      text-transform: capitalize;
      width: 80%;
      margin: 15px 10%;
    }
   p{
     color: white;
   }
}
.login{
  --background: white;
  color: black;
}
